.grid-container {
	width: 960px;
	height: 960px;
	display: inline-grid;
	background-color: #000;
	padding: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	transition: background-color .2s ease-out;
	border: 0px solid rgba(0, 0, 0, 0.8);
	padding: 0px;
	font-size: 12px;
	text-align: center;
}

.hover {
	background-color: rgba(255, 255, 255, 0.3);
}